<html lang="kr"><head>
    <meta charset="utf-8">
    <title></title>
    <meta name="toss:color-scheme" content="light dark">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:title" content="토스">
    <meta property="og:description" content="내 모든 돈을, 간편하게 토스에서.">
    <meta property="og:image" content="https://static.toss.im/homepage-static/share.png">
    <meta property="og:url" content="https://toss.im">
    <meta property="og:site_name" content="Toss">
    <meta name="format-detection" content="telephone=no">
  
    <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
  
    <link rel="stylesheet" href="https://assets-fe.toss.im/tds/style.css">
    <link rel="shortcut icon" href="https://static.toss.im/tds/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.toss.im/tds/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.toss.im/tds/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="https://static.toss.im/tds/favicon/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="196x196" href="https://static.toss.im/tds/favicon/favicon-196x196.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://static.toss.im/tds/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://static.toss.im/tds/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://static.toss.im/tds/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://static.toss.im/tds/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://static.toss.im/tds/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://static.toss.im/tds/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileImage" content="https://static.toss.im/tds/favicon/mstile-144x144.png">
    <link href="https://toss.im/frame/assets/stylesheets/tossframe-2.0.6.css" rel="stylesheet">
    <link rel="stylesheet" href="https://toss.github.io/static_docs/assets/css/style.css">
    
    <link rel="stylesheet" href="https://toss.github.io/static_docs/assets/css/safety.css">
    
    <style id="toss-css-color-variables"></style>
    <script src="https://static.toss.im/toss-app-bridge/2.61.0/index.js"></script>
    <script>
      var darkColorCSS = 'body{--adaptiveGrey50:#202027;--adaptiveGrey100:#2c2c35;--adaptiveGrey200:#3c3c47;--adaptiveGrey300:#4d4d59;--adaptiveGrey400:#62626d;--adaptiveGrey500:#7e7e87;--adaptiveGrey600:#9e9ea4;--adaptiveGrey700:#c3c3c6;--adaptiveGrey800:#e4e4e5;--adaptiveGrey900:#ffffff;--adaptiveBackground:#17171c;--adaptiveGreyBackground:#101013;--adaptiveLayeredBackground:#202027;--adaptiveFloatBackground:#2c2c35;}'
      var lightColorCSS = 'body{--adaptiveGrey50:#f9fafb;--adaptiveGrey100:#f2f4f6;--adaptiveGrey200:#e5e8eb;--adaptiveGrey300:#d1d6db;--adaptiveGrey400:#b0b8c1;--adaptiveGrey500:#8b95a1;--adaptiveGrey600:#6b7684;--adaptiveGrey700:#4e5968;--adaptiveGrey800:#333d4b;--adaptiveGrey900:#191f28;--adaptiveBackground:#ffffff;--adaptiveGreyBackground:#f2f4f6;--adaptiveLayeredBackground:#ffffff;--adaptiveFloatBackground:#ffffff;}'
      tossAppBridge.postMessage({
        name: 'getColorSchemePreference',
        params: {
          callback: function (appColorPrefernce) {
            var styleTag = document.getElementById('toss-css-color-variables');
  
            if (styleTag) {
              styleTag.innerHTML = appColorPrefernce === 'dark' ? darkColorCSS : lightColorCSS;
              return;
            }
          },
        },
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <section class="term-contents">
            {{ content }} 
           </section>
        </div>
      </div>
    </div>
  
  
  
  </body></html>